/* == GOOGLE FONTS == */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Fraunces:wght@700;900&family=Open+Sans:wght@300;400;500;600;700&display=swap');


body{
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   background-color: grey;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
section{
   width: 100%;
   max-width: 1440px;
}
.wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
}
/*== HEADER STYLING ==*/
#header{
   width: 100%;
   height: 100vh;
   position: relative;
   background-color: #3dbeff;
   background-image: url("../images/desktop/image-header.jpg");
   background-size: cover;
   background-position: bottom;
   background-repeat: no-repeat;
}
.wrapper-header{
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
}
.logo-container{
   width: 50%;
}
.logo-container > img{
   margin-left: 30px;
}
.menu-container{
   width: 50%;
}
.ul-menu{
   display: flex;
   justify-content: flex-end;
   font-family: 'Barlow', sans-serif;
   margin-right: 20px;
}
.li-menu-item{
   padding: 15px 30px;
   border-radius: 20px;
   width: max-content;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.li-menu-item:hover{
   background-color: #6ecefe;
   font-family: 'Fraunces', serif;
}
.li-menu-item:active{
   background-color: white;
   color: #333;
}
.menu-link{
   text-decoration: none;
   color: white;
}
/*== MOBILE MENU STYLING ==*/
.mobile-menu-container{
   position: relative;
   /*width: 100%;*/
   height: 28.6px;
   display: none;
}
.mobile-menu-toggle{
   /*background-color: black;*/
   color: #83e7ff;
   position: relative;
   top: 3px;
   right: -75%;
   padding: 10px;
   font-size: 25px;
   transition: color 0.3s ease-in-out;
}
.mobile-menu-toggle:hover{
   color: #fbd601;
}
.mobile-ul-menu{
   position: relative;
   top: 40px;
   left: -40px;
   background-color: white;
   width: 250px;
   height: auto;
   padding: 20px 0;
   text-align: center;
   z-index: 10;
}
.mobile-ul-menu:before{
   content:"";
   position: absolute;
   left: 220px;
      top: -16px;
      width: 0;
      height: 0;
      border-top: 29px solid transparent;
      border-right: 30px solid white;
      border-bottom: 13px solid transparent;
}

.mobile-li-menu-item{
   padding: 25px 0;
}
.mobile-menu-link{
   text-decoration: none;
   color: #a2a1a9;
   padding: 20px 40px;
   border-radius: 40px;
   transition: all 0.5s ease-in-out;
}
.mobile-menu-link:hover{
   font-family: 'Fraunces', serif;
   font-weight: 800;
   color: #333;
   background-color: #fbd601;
   border-radius: 40px;
}

/* == HERO STYLING ==*/
.main-title-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   margin-top: calc(5%);
}
.main-title{
   font-family: 'Fraunces', serif;
   font-size: 40px;
   font-weight: 900;
   color: white;
   text-transform: uppercase;
   text-align: center;
   word-spacing: 15px;
   letter-spacing: 6px;
   width: 100%;
   margin-bottom: 50px;
}
.page-down{
   -webkit-animation: hero-arrow 1s infinite alternate;
   animation: hero-arrow 1s infinite alternate;
   cursor: pointer;
}
.page-down > img{
   height: 100%;
}
@-webkit-keyframes hero-arrow {
   0% { transform: translateY(0); }
   100% { transform: translateY(-20px); }
}
@keyframes hero-arrow {
   0% { transform: translateY(0); }
   100% { transform: translateY(-20px); }
}

/* == BRAND GRID INFO STYLING == */
#brand-info-section{
   width: 100%;
   position: relative;
}
.container-brand-info{ /* Grid Parent*/
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, 1fr);
}
.brand-box{
   background-color: white;
   display: grid;
   padding: 20%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: left;
}
.brand-info-title{
   font-size: 35px;
   font-weight: 900;
   line-height: 1.2;
   font-family: 'Fraunces', serif;
   margin-bottom: 35px;
}
.brand-text-content{
   color: #777777;
   line-height: 1.8;
   margin-bottom: 35px;
   font-weight: 500;
}
.brand-box > a{
   width: fit-content;
   text-decoration: none;
   font-family: 'Fraunces', serif;
   font-size: 20px;
   font-weight: 900;
   color: #333;
   text-transform: uppercase;
}
.brand-box:nth-child(1) > a:hover{
   text-decoration-line: underline;
   text-decoration-style: wavy;
   text-decoration-color: #f6d308;
   transition: text-decoration-style 0.4s ease-in;
}
.brand-box:nth-child(4) > a:hover{
   text-decoration-line: underline;
   text-decoration-style: wavy;
   text-decoration-color: #ff7767;
   transition: text-decoration-style 0.4s ease-in;
}
.brand-box:nth-child(2){
   background-image: url("../images/desktop/image-transform.jpg");
}
.brand-box:nth-child(3){
   background-image: url("../images/desktop/image-stand-out.jpg");
}
.brand-box:nth-child(5){
   place-content: end;
   text-align: center;
   padding-bottom: 2%;
   background-image: url("../images/desktop/image-graphic-design.jpg");
   opacity: 0.9;
}
.brand-box:nth-child(5){
   color: #313131;
}
.brand-box:nth-child(6){
   place-content: end;
   text-align: center;
   padding-bottom: 2%;
   background-image: url("../images/desktop/image-photography.jpg");
   opacity: 0.9;
}
.brand-box:nth-child(n+5) > h2{
   color: #313131;
}
.brand-box:nth-child(n+5) > p{
   color: #313131;
   font-weight: 900;
}

/* == CLIENTS REVIEWS STYLING ==*/
#testimonial{
   background-color: white;
}
.container-client-reviews{
   margin: 50px 0;
   padding: 0 100px;
   text-align: center;
}
.review-title{
   font-size: 35px;
   font-weight: 900;
   font-family: 'Fraunces', serif;
   color: #868686;
   line-height: 1.8;
   margin: 150px 0 75px 0;
   text-transform: uppercase;
}
.wrapper-client-review{
   justify-content: space-evenly;
}
.client-review-box{
   width: 30%;
   padding: 10px;
   margin-bottom: 80px;
}
.client-pic{
   width: 80px;
   height: auto;
   border-radius: 50%;
   margin-bottom: 50px;
}
.client-review-content{
   line-height: 1.5;
   font-family: 'Open Sans', sans-serif;
   font-weight: 500;
   font-size: 15px;
   margin-bottom: 55px;
}
.client-name{
   font-family: 'Fraunces', serif;
   font-weight: 900;
   margin-bottom: 15px;
}
.client-job-title{
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #868686;
}

/*== FOOTER GALLERY STYLING ==*/

.container-footer-gallery{
   width: 100%;
}
.col-img-wrapper{
   width: 100%;
}
.footer-col-img{
   width: 100%;
   max-width: 360px;
   height: 450px;
   background-color: #3dbeff;
   background-size: cover;
   background-position: bottom;
   background-repeat: no-repeat;
}
.footer-col-img:nth-child(1){
   background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
}
.footer-col-img:nth-child(2){
   background-image: url("../images/desktop/image-gallery-orange.jpg");
}
.footer-col-img:nth-child(3){
   background-image: url("../images/desktop/image-gallery-cone.jpg");
}
.footer-col-img:nth-child(4){
   background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
}

/*== BOTTOM FOOTER STYLING  ==*/
.footer-content-container{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   text-align: center;
   width: 100%;
   background-color: #90d4c5;
}
.top-of-page{
   position: absolute;
   top: 43px;
}
.top-of-page-arrow{
   color: white;
   -webkit-animation: top-of-page 1s infinite alternate;
   animation: top-of-page 1s infinite alternate;
   cursor: pointer;
}
@-webkit-keyframes top-of-page {
   0% { transform: translateY(0); }
   100% { transform: translateY(-20px); }
}
@keyframes top-of-page {
   0% { transform: translateY(0); }
   100% { transform: translateY(-20px); }
}
.footer-logo{
   width: 100%;
   margin: 70px 0;
}
/*.footer-logo-img{
   /* HEX Value used for filter generator #2e7668  
   filter: invert(33%) sepia(8%) saturate(3629%) hue-rotate(118deg) brightness(97%) contrast(73%);
}*/
.footer-logo svg path {
   color: #2e7668;
   fill: currentColor;
}
.footer-menu{
   width: 100%;
   margin-bottom: 80px;
   justify-content: center;
   align-items: center;
}
.ul-footer-menu{
   display: flex;
   justify-content: center;
   font-family: 'Barlow', sans-serif;
}
.li-footer-menu-item{
   padding: 15px 30px;
   width: max-content;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.li-footer-menu-item:active{
   background-color: white;
   color: #333;
}
.footer-menu-link{
   text-decoration: none;
   color: #418878;
   transition: all 0.3s ease-in-out;
}
.footer-menu-link:hover{
   color: white;
}
.social-links-container{
   padding-bottom: 60px;
}
.social-links-menu > a {
   margin: 0 10px;
}
.social-links-menu > a > svg path{
    transition: all 0.3s ease-in-out;
}
.social-links-menu > a > svg path:hover{
   color: white;
   fill: currentColor;
}
